.ree-sy-ai-audience {
  $scroll: 10px;
  ::-webkit-scrollbar {
    width: $scroll;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: $scroll;
    background-color: rgba(255, 255, 255, 0.2);
  }
  ::-webkit-scrollbar-track {
    border-radius: $scroll;
    background-color: rgba(255, 255, 255, 0.1);
  }

  ul,
  li {
    list-style-type: none;
  }
  
  .wrapper-rsaudi ul {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
  
  }
  .wrapper-rsaudi ul li {
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
    clear: both;
    font-weight: 700;
    max-width: 70%;
    white-space: pre-line;
  }
  .wrapper-rsaudi ul li {
    float: left;
    margin-left: 60px;
    background: #010101;
    color: white;
    font-weight: 500;
  }
  .wrapper-rsaudi ul li:before,
  .wrapper-rsaudi ul li:after {
    position: absolute;
    content: '';
  }
  .wrapper-rsaudi ul li:before {
    width: 45px;
    height: 45px;
    top: 0;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .wrapper-rsaudi ul li:before {
    left: -60px;
    background-image: url('../../../../public/images/reelsy-ai-icon-bg.webp');
    background-color: black;
    background-size: contain;

    background-repeat: no-repeat, repeat;
  }
  .wrapper-rsaudi ul li:nth-child(even):before {
    right: -40px;
  }

  .wrapper-rsaudi ul li:after {
    width: 0;
    height: 0;
    top: 15px;
    border-top: 15px solid #010101;
    left: -15px;
    border-left: 15px solid transparent;
  }
  // .wrapper-rsaudi ul li:after {
  //   left: -15px;
  //   border-left: 15px solid transparent;
  // }
  // .wrapper-rsaudi ul li:nth-child(even):after {
  //   right: -15px;
  //   border-top-color: rgba(255, 255, 255, 0.3);
  //   border-right: 15px solid #2563eb;
  //   transform: rotate(180deg);
  // }
}
