.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

.reactour__popover {
  max-width: 600px !important;
}
@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.ant-carousel .slick-dots li button {
  background-color: black !important;
}

.image-instruction {
  margin: 0 auto;
}

.no-border-padding-footer-modal .ant-modal-footer {
  padding: 0px !important;
  border: none !important;
}
.no-border-padding-footer-modal .ant-modal-content {
  border-radius: 20px !important;
}
.no-border-padding-footer-modal .ant-modal-close-x {
  color: white !important;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-modal-bg-transparent .ant-modal-content {
  background-color: transparent !important;
}
