@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Brahma" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent-element {
  height: 500vh;
  position: relative;
  background-color: #f2f2f2;
}

.sticky-element {
  position: sticky;
  top: 50px;
  background-color: #ffffff;
  padding: 20px;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 !important;
}

@font-face {
  font-family: "Brahma";
  src: url("/public/fonts/Brahma-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Brahma";
  src: url("/public/fonts/Brahma-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Brahma";
  src: url("/public/fonts/Brahma-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Brahma";
  src: url("/public/fonts/Brahma-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Brahma";
  src: url("/public/fonts/Brahma-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Brahma";
  src: url("/public/fonts/Brahma-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Organetto-Variable";
  src: url("/public/fonts/Organetto-Variable.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Black.ttf");
  font-weight: 900;
}

.custom-slide-bar-1::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-slide-bar-1::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-slide-bar-1::-webkit-scrollbar-thumb {
  background: #3be6e6;
}

.custom-slide-bar-1::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 168, 168, 0.66);
}

/* bg-linear-gradient-1 hover:from-[#01f1b2] hover:to-[#0081ff] */
.bg-linear-gradient-1 {
  background: rgb(120, 254, 133) !important;
  background: linear-gradient(
    33deg,
    rgba(120, 254, 133, 1) 0%,
    rgb(16, 165, 202) 100%
  ) !important;
}

.bg-linear-gradient-2 {
  background: #d2e1e1;
  /* background: linear-gradient(33deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); */
}

.bg-linear-gradient-3 {
  background: rgb(19, 13, 102);
  background: linear-gradient(33deg, #1cafc2 0%, #b8c8de 100%);
}
/* .bg-linear-gradient-1 .anticon svg {
  fill: #1a202c;
}
.
.bg-linear-gradient-1 {
  color: #1a202c !important;
} */

.ant-picker-calendar-mode-switch {
  display: none !important;
}

.custom-modal-1 .ant-modal-content {
  overflow-y: auto !important;
}

.custom-upload .ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
}

.disble-antd-disbled-styles .ant-select-tree-treenode-disabled {
  color: black !important;
  cursor: pointer !important;
}

.font-poppins {
  font-family: "Poppins" !important;
}

.font-organetto {
  font-family: "Organetto-Variable" !important;
}

.custom-table-1 td,
th {
  border-left: solid rgb(255, 255, 255) 1px;
  border-top: solid rgb(255, 255, 255) 1px;
}

.custom-table-1 th {
  background-color: rgb(255, 255, 255);
  border-top: none;
}

.custom-table-1 td:first-child,
th:first-child {
  border-left: none;
}

.custom-table-1 tr:first-child td {
  border-top: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
